{% extends "base.html" %}

{% block content %}
{% set products_db = Database("db/products.db") %}

<!-- Кнопка для открытия панели -->
<button id="categoryButton" class="btn btn-primary">Категории</button>

<!-- Выезжающее окно -->
<div id="categoryPanel" class="category-panel">
    <button id="closePanelButton" class="close-button">&times;</button>
    <div class="category-content">
        <!-- Динамическая вставка категорий -->
        <ul class="category-list">
            {% for cat, cat_name in products_db.get_unique_categories_and_names() %}
                {% if cat_name %}
                <li class="category-item">
                    <a href="/{{ cat }}" class="category-link">{{ cat_name }}</a>
                </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>


<div class="row mt-4">
    {% for product in products_db.get_all_products() %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="{{ product.image_url }}" class="card-img-top" alt="{{ product.name }}">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">ID: {{ product.id }}</p>
                <p class="card-text">Цена: {{ product.price|int }} руб.</p>
                <p class="card-text">Скидка: {{ ((product.previous_price - product.price) / product.previous_price *
                    100)|round|int }}%</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="https://www.wildberries.ru/catalog/{{ product.id }}/detail.aspx"
                           class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        <a href="{{ url_for('add_to_favourites', product_id=product.id) }}"
                           class="btn btn-sm btn-outline-secondary">Добавить в избранное</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
    const categoryButton = document.getElementById('categoryButton');
    const categoryPanel = document.getElementById('categoryPanel');
    const closePanelButton = document.getElementById('closePanelButton');

    categoryButton.addEventListener('click', () => {
        categoryPanel.classList.add('open');
    });

    closePanelButton.addEventListener('click', () => {
        categoryPanel.classList.remove('open');
    });
</script>

{% endblock %}
